@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: #fff;
  color: #000;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Pretendard",
    sans-serif;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}